<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header>
    <img width="10%" src="https://raw.githubusercontent.com/woloqo/OptimaHarvest/refs/heads/main/public/assets/optimalogo.png"/>
</header>

<body>
    <div class="bg-image"></div>
    <div class="bg-text">
        <h3>¿Quiénes somos?</h3>
        <p>

            Somos el equipo OptimaHarvest y desarrollamos una solución revolucionaria para la producción agricola enfocada
            en cultivos destinados a la alimentación del ganado. Con nuestro sistema hidroponico automatizado, buscamos maximizar
            la produccion de forraje y otros cultivos escenciales, ayudando a asegurar la sostenibilidad y autosuficiencia alimentaria
            en la agricultura.

        </p>

        <h3>Problemática</h3>
        <p>

            La producción de alimentos para ganado enfrenta grandes desafíos, como la escasez de tierras cultivables, el uso excesivo de agua 
            y la dependencia de fertilizantes químicos. Además, el desperdicio de residuos agrícolas es significativo y podría ser aprovechado 
            de manera más eficiente. Todo esto no solo incrementa los costos para los productores, sino que también impacta negativamente en el medio 
            ambiente.

        </p>

        <h3>Nuestra propuesta</h3>
        <p>

            Optima Harvest es un sistema hidropónico vertical y automatizado que maximiza la producción de cultivos forrajeros en espacios reducidos. 
            Nuestra tecnología controla en tiempo real la luz, humedad y nutrientes, logrando un rendimiento óptimo sin desperdiciar recursos. También 
            reciclamos los residuos de producción para generar compost y biofertilizantes, creando un ciclo de economía circular que reduce costos 
            operativos y proporciona ingresos adicionales. Con Optima Harvest, es posible tener un sistema de producción eficiente, capaz de abastecer a 
            los ganaderos durante todo el año.

        </p>

        <h3>Impacto y escalabilidad</h3>
        <p>

            Optima Harvest permite ahorrar hasta un 90% de agua y produce hasta 200 veces más forraje por metro cuadrado que los métodos tradicionales. 
            En nuestras pruebas, hemos visto que el sistema es adaptable a diferentes tipos de cultivos y escalable a diversas comunidades agrícolas. 
            Este modelo puede implementarse en distintas regiones, promoviendo una producción ganadera más sostenible y eficiente.

        </p>
    </div>
</body>
</html>